@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

body {
	font-family: 'Arvo', serif;
}

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
}

section.hero p {
	font-size: 32px;
}

a {
	font-size: 16px;
}